
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffb8f4;
  color: #067848;
}

header {
  margin: 2rem;
  background-color: #ffb8f4;
}

.header-logo {
  width: 20%;
}

.header-logo-img {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}

.social-media {
  width: 70%;
  justify-content: right;
  margin-right: -83px;
}

.social-media-logo {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 10%;
}

.navbar {
  background-color: #fc92ec;
}

.navbar .nav-link {
  color: #067848;
}

.navbar-nav {
  width: 100%;
  background-color: #fc92ec;
  margin-right: 70px;
  margin-left: 70px;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #ffffff;
}

.navbar-nav li a:hover {
  color: #ffffff;
  cursor: pointer;
}

.header-nav-search {
  margin-left: 4rem;
  margin-right: 2rem;
}

.shopping {
  position: relative;
  width: 4rem;
  height: 2.7rem;
  right: 5px;
  top: 80px;
  background-color: #ffb8f4;
}

.shopping img {
  margin: 0px auto;
  width: 2rem;
}

#producto {
  text-align: left;
  font-size: 30px;
  font-weight: 800;
  padding: 25px;
  position: relative;
  writing-mode: horizontal-tb;
}

#producto2 {
  text-align: left;
  font-size: 30px;
  font-weight: 800;
  padding: 25px;
  margin-top: -40px;
  color: #fc92ec;
  position: relative;
  writing-mode: horizontal-tb;
}

#paragraph {
  text-align: left;
  font-size: 18px;
  padding: 25px;
  line-height: normal;
  position: relative;
  margin-top: -42px;
  writing-mode: horizontal-tb;
}

#tamaño {
  text-align: left;
  font-size: 20px;
  font-weight: 800;
  padding: 25px;
  margin-top: -40px;
  position: relative;
  writing-mode: horizontal-tb;
}

#porciones {
  text-align: left;
  font-size: 15px;
  padding: 25px;
  line-height: normal;
  position: relative;
  margin-top: -35px;
  writing-mode: horizontal-tb;
}

.input-increment {
  width: 35px;
  text-align: left;
  margin-left: -65%;
  padding-left: 1%;
}

.btn-success {
  display: inline-block;
  background-color: #ce4e7e;
  border: none;
  cursor: pointer;
  color: #fff3ff;
  border-radius: 15px;
  margin-left: 55%;
  margin-top: -35%;
  padding: 2%;
  position: relative;
}

.footer {
  padding: 150px 0px;
  color: #067848;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  color: #067848;
}

.links h3 {
  font-size: 20px;
  color: #067848;
  margin-bottom: 40 px;
}

.socials img {
  margin-right: 40px;
  color: #067848;
}

link ul li a {
  font-size: 16px;
  display: block;
  margin-bottom: 40px;
  color: #067848;
}

img,
svg {
  vertical-align: middle;
}

img.position-absolute {
  margin-left: -3cm;
}

.position-absolute w-100h-100 {
  position: absolute !important;
  margin-top: auto;
}

@media (min-width: 992px) {
  .listProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .cakes {
    max-width: 50%;
    height: auto;
  }

  .box {
    max-width: 50%;
  }
}

/* Estilos para dispositivos más pequeños */
@media (max-width: 991px) {
  .cakes {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  .box {
    width: 100%;
  }
}

/* Estilos para el contenedor principal */
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  flex-wrap: wrap; /* Asegura que los elementos se apilen en pantallas pequeñas */
  gap: 1rem; /* Espaciado entre la imagen y el formulario */
  margin: auto; /* Centra el contenedor */
}

/* Estilos para la imagen del pastel */
.product-image {
  flex: 1; /* Permite que el contenedor de la imagen crezca */
  text-align: center; /* Centra la imagen en su contenedor */
}

.cakes {
  max-width: 70%; /* Hace que la imagen sea responsive y no se salga del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilos para el formulario y el contenido */
.box {
  flex: 1; /* Permite que el contenedor del formulario crezca */
  padding: 1rem; /* Espaciado interior */
  border: 1px solid rgba(108, 195, 98, 0.45);
  background-color: #fff3ff;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 200px;
  height: auto;
}

.add-to-cart {
  text-decoration: none;
  color: #067848;
  background-color: #fc92ec;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
}

/* Estilos para responsividad */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column; /* Alinea los elementos verticalmente en pantallas pequeñas */
  }

  .cakes {
    margin: 0 auto;
  }

  .box {
    width: 100%;
  }
}
